<div class="homepage mt-20">
  <div class="flex items-center justify-center">
    <img
      src="{{ 'weeklyhow-logo.png' | asset_img_url: 'large' }}"
      class="logo"
      width=""
      height="">
  </div>
  <h1 class="text-red-500 text-center font-bold ">Welcome to Shopify Theme Development course</h1>
  <p class="text-center text-green-500">{% render 'homepage-text' %}</p>
</div>