<div class="h-full flex item-center justify-center py-12 px-6 md:px-4 lg:px-8" x-data="{loginForm:true, pwRecoverForm: false}">
  {% comment %} Login Form  {% endcomment %}
  <div x-show="loginForm" class="max-w-md w-full space-y-8">
    <div>
      <h1 class="text-center text-3xl font-bold mt-6">Sign in to your account</h1>
    </div>
    <div class="mt-8">
      {% form 'customer_login' %}
        {% if form.errors %}
          <div class="block sm:inline">{{ form.errors | default_errors }}</div>
        {% endif %}
        <div class="my-2">
          <label class="sr-only" for="email_address">Email Address</label>
          <input
            type="email"
            name="customer[email]"
            id="email_address"
            autocomplete="email"
            class="relative block w-full px-3 py-2 border"
            placeholder="Email Address">
        </div>

        {% if form.password_needed %}
          <div class="my-2">
            <label class="sr-only" for="email_address">Password</label>
            <input
              type="password"
              name="customer[password]"
              id="password"
              autocomplete="current-password"
              class="relative block w-full px-3 py-2 border"
              placeholder="Password">
          </div>
        {% endif %}
        <button type="submit" class="relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-800">Sign in
        </button>
      {% endform %}
    </div>
    <div>
      <a href="#" x-on:click="loginForm = false, pwRecoverForm = true">Forgot Password</a>
    </div>
  </div>
  {% comment %} Recover Password Form  {% endcomment %}
  <div x-show="pwRecoverForm" class="max-w-md w-full space-y-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <h1 class="text-center text-3xl font-bold mt-6">Recover your password</h1>
      </div>
      <div class="mt-8">
        {% form 'recover_customer_password' %}
          {% if form.errors %}
            <div class="block sm:inline">{{ form.errors | default_errors }}</div>
          {% endif %}
          <div class="my-2">
            <label class="sr-only" for="email_address">Email Address</label>
            <input
              type="email"
              name="email"
              id="email"
              autocomplete="email"
              class="relative block w-full px-3 py-2 border"
              placeholder="Email Address">
          </div>


          <button type="submit" class="relative w-full py-2 px-4 text-sm font-medium text-white bg-gray-600 hover:bg-gray-800">Recover Password</button>
        {% endform %}
      </div>
      <div>
        <a href="#" x-on:click="loginForm = true, pwRecoverForm = false">Back to login form</a>
      </div>
    </div>
  </div>
</div>